<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>关于我们</title>
<meta name="keywords" content="关于我们"/>
<meta name="description" content="关于我们"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!-- 防止IE8,7进入怪异模式 -->
	<link href="css/style.css" type="text/css" th:herf="@{/css/style.css}" rel="stylesheet"/>
	<link rel="icon" href="images/favicon.png" th:herf="@{/images/favicon.png}" type="image/gif">
	<link rel="shortcut icon" href="images/favicon.png" th:herf="@{/images/favicon.png}">

	<script type="text/javascript" src="js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" src="js/nav.js" th:src="@{/js/nav.js}"></script>
	<script type="text/javascript" src="js/jquery.superslide.2.1.1.js" th:src="@{/js/jquery.superslide.2.1.1.js}"></script>

</head>
<body>
<script language="javascript">
function checkform3(nForm)  
{
	if(nForm.keys.value==""||nForm.keys.value=="搜索关键词")
	{
		alert("请输入关键字!");
		nForm.keys.focus();
		return false;
	}
}
</script>

<script type="text/javascript" src="js/zh.js" th:src="@{/js/zh.js}"></script>
<script>
zh_tran('s');
</script>
<div class="top_bg">
	<div class="menu b_center">
		<div class="logo_l">
			<br/>
			<br/>
			<a href="index.html" style="font-size: x-large;color: #0d6f67;">魏县福来食用菌专业合作社</a>
		</div>
		<div class="logo_r">
			<div class="nav">
				<ul>
					<li class="m ">
					<h3><a href="index.html" title="首页">首页</a></h3>
					</li>
					<li class="m on">
					<h3><a href="about.html" title="关于我们">关于我们</a></h3>
					<li class="m ">
					<h3><a href="news.html" title="公司动态">公司动态</a></h3>
					</li>
					<li class="m ">
					<h3><a href="products.html" title="产品展示">产品展示</a></h3>
					</li>
					<li class="m ">
					<h3><a href="case.html" title="资质荣誉">资质荣誉</a></h3>
					</li>
					<li class="m ">
					<h3><a href="contact.html" title="联系我们">联系我们</a></h3>
					</li>
				</ul>
				<script type="text/javascript"> jQuery(".nav").slide({ type:"menu",  titCell:".m", targetCell:".sub", effect:"slideDown", delayTime:300, triggerTime:100,returnDefault:true});</script>
			</div>
		</div>
		<!-- clear the floats if required -->
		<div class="clear">
		</div>
	</div>
</div>
<!--header_100 end-->
<div class="h84">
	&nbsp;
</div>
<div class="o_big" style="background:url(images/about.jpg) no-repeat center top;">
	&nbsp;
</div>
<div class="i_solution_t">
	<h2>关于我们</h2>
	<div class="solution_a">
		当前位置:<a href="#">首页</a>&nbsp;&gt;&nbsp;<label>关于我们</label>
	</div>
</div>
<!--正文begin-->
<div class="wrap">
	<div class="about_t">
		COMPANY PROFILE
		<h2>公司<span>简介</span></h2>
	</div>
	<div class="about_con">
		<p class="MsoNormal">
				魏县福来食用菌专业合作社由刘瑞芹、苗银德等人发起，于2007年12月8日召开设立大会，于2008年1月16日正式注册，成员组成全部是农民，出资人数为56人，总金额为102万元，其中货币出资36万元，非货币出资66万元，收益分配机制是按出资数额比例盈利分红。
			本社以成员为主要服务对象，依法为成员提供农业生产资料的购买，农产品的销售、加工、运输、贮藏以及与农业生产经营有关的技术、信息等服务。主要业务范围如下：
		</p>
		<p class="MsoNormal">
			<br/>
			（一）组织食用菌生产开展食用菌购销；
			<br/>
			（二）组织采购、供应成员所需的生产资料；
			<br/>
			（三）开展成员所需的运输、贮藏、加工、包装等服务；
			<br/>
			（四）引进食用菌新技术、新品种，开展技术培训、技术交流和咨询服务；食用菌生产新技术研究，开发等。
		</p>
		<p class="MsoNormal">
			<br/>
				合作社法人代表：刘瑞芹，女，农民，1967年10月20日出生，中专文化程度，系魏县院堡乡中三中村人；合作社现任经理：苗银德，男，农民，1964年04月13日出生，毕业于中国农业函授大学食用菌专业，系魏县院堡乡中三家村人。合作社有严格的规章制度，人员管理和财务管理都井然有序，有办公室及配套设施和技术培训室等
		</p>
		<p class="MsoNormal">
			<br/>
			　　该合作社于2008年11月20日被河北省农业厅确定为“省级农民专业合作社示范社”，并在（冀农管发[2008]20号）文件上公布，商标注册第一次申报“口福来”时间为2007年5月28日，已申请注册，第二次申报“幸福伞”已受理……
		</p>
		<p class="MsoNormal">
			<br/>
			　　本合作社重点是搞培养、种植、加工和销售食用菌生产，主导产品是：平菇和白灵菇，并不断改进和研发新品种，2009年引进的“新科200高温平菇”和“03耐高温白灵菇进行示范，取得了成功，万斤料增收三千到五千元，又研发了利用白灵菇废料，发酵后再种杏鲍菇技术，还利用比较便宜的木屑、锯末、棉花柴等废料加工种植白灵菇等，并应用于生产，这些都充分得到了上级部门的肯定和认可，促进了食用菌产业的发展，增加了农民的收入。
		</p>
		<p class="MsoNormal">
			<br/>
			　　目前已带动农户1500户发展食用菌生产，本社生产食用菌菌种300吨，鲜平菇1500吨，白灵菇100吨，购销生产资料500吨，销售额280多万元，产品销往河北河南、北京、天津等地，为合作社盈利30多万元。
		</p>
		<p class="MsoNormal">
			<br/>
			　　从市场供需情况看，食用菌专业发展前景是大有前途的，由于食用菌尤其是白灵菇具有高蛋白，低脂肪、高维生素，低热量的特点，含有丰富的无机盐类和可食性纤维素，富含氨基酸，真菌多糖，微量元素等营养成分，食用菌等不但营养丰富，而且味道鲜美，因而倍受人们的青睐。合作社当地资源丰富，经营状况良好。
		</p>
		<br/>
		<br/>
		<br/>
		<img src="/picture/about2.jpg"  th:src="@{/picture/about2.jpg}"/>
	</div>
<!--	<div class="about_t">-->
<!--		SERVICE-->
<!--		<h2>我们的<span>服务</span></h2>-->
<!--	</div>-->
<!--	<div class="about_con">-->
<!--		<p class="MsoNormal">-->
<!--			<span>擁有豐富的花卉、種子、盆栽、苗木資源及國際貿易經驗。能為您提供選購，種植，通關一體化的供應鏈式服務。您可以時刻關注我們的網頁更新，捕捉最新、最優質的花卉，苗木資源</span>.-->
<!--		</p>-->
<!--		<p class="MsoNormal">-->
<!--			<br/>-->
<!--		</p>-->
<!--		<p class="MsoNormal">-->
<!--	豐富的施工及養護經驗和一流的園林綠化設計、施工技術，永決您的後顧之憂。施工骨幹技術工人均經過專業培訓，並有多年的施工養護經驗，保證工程施工品質及後期養護規範化、專業化。-->
<!--		</p>-->
<!--		<p class="MsoNormal">-->
<!--			<br/>-->
<!--		</p>-->
<!--		<p class="MsoNormal">-->
<!--			<span>我們歡迎您到我們浙江及廣東、廣西、江蘇各種植基地，實地選苗，我們將為您提供最專業的景觀建設意見，保證您挑選到最合心意的</span>“綠意”產品。-->
<!--		</p>-->
<!--	</div>-->
<!--	<div style="height:60px;">-->
<!--	</div>-->
<!--	<ul class="i_service_ul">-->
<!--		<li onmouseover="$(this).find('img').attr('src','images/i_pic1_sel.png')" onmouseout="$(this).find('img').attr('src','images/i_pic1.png')"><a href="#"><img src="upload/picture/i_pic1.png"/>-->
<!--		<h2>花卉与盆栽</h2>-->
<!--		</a></li>-->
<!--		<li onmouseover="$(this).find('img').attr('src','images/i_pic2_sel.png')" onmouseout="$(this).find('img').attr('src','images/i_pic2.png')"><a href="#"><img src="upload/picture/i_pic2.png"/>-->
<!--		<h2>景观苗木与观赏锦鲤</h2>-->
<!--		</a></li>-->
<!--		<li onmouseover="$(this).find('img').attr('src','images/i_pic3_sel.png')" onmouseout="$(this).find('img').attr('src','images/i_pic3.png')"><a href="#"><img src="upload/picture/i_pic3.png"/>-->
<!--		<h2>庭院设计与园艺产品</h2>-->
<!--		</a></li>-->
<!--	</ul>-->
	<div style="height:60px; clear:both;">
	</div>
</div>
<!--正文end-->
<div class="foot_txt">
	<div class="wrap" style="position:relative;">
		ADD：KAM TIN NT HONKONG  客服电话：0760-23864215/13249692869
		<br/>
		<a href="#" title="关于我们" class="foot_title">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" title="公司动态">公司动态</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" title="产品展示">产品展示</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" title="工程案例">工程案例</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" title="视频中心">视频中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#" title="联系我们">联系我们</a>
		<a href="#" class="f_top" onclick="goTop()">&nbsp;</a>
	</div>
</div>
<div class="f_bg">
	<div class="b_center" style="width:1200px;">
		<span class="l">Copyright © 魏县福来食用菌专业合作社 All Rights Reserved </a>&nbsp;&nbsp;</span>
		<div class="contact_a">
			<ul>
				<li><a href="#" class="foot_qq"></a></li>
				<li><a href="#" class="foot_weixin"><img src="/picture/ewm.png" th:src="@{/picture/ewm.png}"/></a></li>
			</ul>
		</div>
		<div class="c_l">
		</div>
	</div>
</div>
<!--尾部end-->
<script language="javascript" src="js/foot.js" th:src="@{/js/foot.js}"></script>
</body>
</html>