<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin-left: 100px">
    <h2>管理 </h2>
    <h3>产品 </h3>
    <a href="javascript:window.open('http://192.144.176.134:8089/fulai/admin/addProduct.html')">添加产品</a>
    <br/>
<!--    <a href="javascript:window.open('http://192.144.176.134:8089/pdfsigntest/signByKeyword')">关键字定位签章</a>-->
<!--    <br/>-->
<!--    <a href="javascript:window.open('http://192.144.176.134:8089/pdfsigntest/signByXY')">坐标定位签章</a>-->
    <br/>
    <h3>动态 </h3>
    <a href="javascript:window.open('http://192.144.176.134:8089/fulai/admin/addNews.html')">添加动态</a>
    <br/>
    <h3>资质荣誉 </h3>
    <a href="javascript:window.open('http://192.144.176.134:8089/fulai/admin/addCase.html')">添加资质荣誉</a>
</div>


</body>
</html>