<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/admin.html" method="post">
    <div style="margin-left: 200px">
        <h3>登录 </h3>
        <br>
        <span>用户名:</span><input type="text" id="userName" name="userName" style="width: 200px" />
        <br/>
        <span>密码 :</span><input type="password" id="password" name="password" style="width: 200px" />
        <br/>
        <button type="submit" id="login" style="width: 150px">登录</button>
    </div>
</form>

</body>


<script >


</script>
</html>